!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en" }
  %head
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ 'http-equiv' => "Content-Language", :content => "en" }
    %meta{ :name => "keywords", :content => "Puget Sound Regional Council, PSRC, Prosperity Partnership, Puget Sound Region, Transportation, Growth Management, Economic Development" }
    %meta{ :name => "description", :content => "Puget Sound Regional Council" }
    %meta{ :name => "author", :content => "FixieConsulting.com" }
    %meta{ :name => "robots", :content => "all, follow" }
    %meta{ :name => "googlebot", :content => "index, follow, snippet, archive" }

    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %link{ :rel => "icon", :href=> "/favicon.ico" }

    = javascript_include_tag 'prototype', 'effects', 'application', :cache => "cache/all"
    = stylesheet_link_tag 'yui', 'base', 'events', 'templates', 'forms', 'util', :cache => "cache/all"

    = yield(:head)

    /[if lte IE 7]
      = stylesheet_link_tag 'ie'
    /[if lt IE 7]
      %script{:type=>"text/javascript", :src=>"/admin/javascripts/pngfix.js"}
      = stylesheet_link_tag 'ie6'

    %title
      = @page_title ||= "Puget Sound Regional Council"
  %body
    #logo= image_tag "psrc-logo.gif"
    #header
      %ul#header-content.clear
        %li.current= link_to "Home", templates_path
        %li= link_to "About", templates_path
        %li= link_to "Growth Management", templates_path
        %li= link_to "Transportation", templates_path
        %li= link_to "Economic Development", templates_path
        %li= link_to "Funding", templates_path
        %li= link_to "Data", templates_path

    - document :sidebar => true do
      #banner
        #banner-content &nbsp;
      - sidebar do
        %ul#page-navigation
          %li.first= link_to "Ut risus", "#"
          %li.active= link_to "pharetra quis", "#"
          %li= link_to "viverra eu", "#"
          %li= link_to "blandit non", "#"
      - main_content do
        %h2 TEST
        - grid :halves do
          - grid_unit :first => true do
            = yield
          - grid_unit do
            = yield :col2

    #ft
      = yield(:footer)
      %ul.clear
        %li= link_to "About PSRC", templates_path
        %li= link_to "Contact Us", templates_path
        %li= link_to "Careers", templates_path
        %li= link_to "Request for Proposals", templates_path
        %li= link_to "Publications", templates_path
        %li= link_to "Privacy Policy", templates_path
        %li= link_to "Feedback", templates_path
        %li= link_to "Sitemap", templates_path


    =# render :partial => "shared/analytics"
